# Time zone in tz database format
TZ=Asia/Jerusalem
ENV=ANYTHING
WORKERS=4
BOT_TOKEN=
# ID of user which can configure the bot throught PM
OWNER_ID=
# Chat ID's in format -100XXXXXXXXXX
FROM_CHATS=
TO_CHATS=
GROUPS_TO_DELETE=
TIME_TO_DELETE=
WORDS_TO_FORWARD=
LANG='en'
